
<div class="span-24" id="footcont">
  <div class="span-6">
    <h6>Crédits</h6>
    <p>
      <a href="http://www.openstreetmap.org">OpenStreetMap</a>
      <br />
      <a href="http://www.openlayers.org/">OpenLayers</a>
      <br />
      <a href="http://blueprintcss.org/">blueprint</a>
      <br />
      <a href="http://openiconlibrary.sourceforge.net/">Open Icon Library</a>
    </p>
  </div>
  <div class="span-6">
    <h6>Cartosm</h6>
    <p>
      <a href="references.html">Références</a>
      <br />
      <a href="/samples/">Exemples de cartes</a>
      <br />
      <a href="faq.html">FAQ</a>
      <br />
      <a href="api.html">API</a>
    </p>
  </div>
  <div class="span-5">
    <h6>Code source</h6>
    <p>
      <a href="http://www.gnu.org/licenses/gpl-3.0.html">Licence GNU GPLv3</a>
      <br />
      <a href="http://gitorious.org/cartosm">Dépôt code source</a>
    </p>
  </div>
  <div class="span-6">
    <h6>Auteur</h6>
    <p>
      <a href="http://blog.rodolphe.Quiedeville.org">Rodolphe Quiédeville</a>
      <br />
      <a href="http://rodolphe.quiedeville.org/contact.fr.html">Contact</a>
      <br />
      <a href="http://twitter.com/#!/rodoq">Tweet feed</a>
    </p>
  </div>
</div>
    </div><!-- container -->

<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.quiedeville.org/" : "http://stats.quiedeville.org/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.quiedeville.org/piwik.php?idsite=6" style="border:0" alt="piwik stats" /></p></noscript>
