body { 
       font: 90% sans-serif;
       }

.olControlAttribution{ 
                       bottom: 3px!important;
                       } 

a { text-decoration: none; }

h1 a { color: black;}
h1 a:hover {  color: black;}

div.titre { text-align: right;
            font-weight: normal;
            color: #BEAEAE;
            font-size: 1.5em;
            line-height: 1;
            margin-top: 8px;}
            margin-bottom: 18px;}

div.titre span { float: left;
                 }




#map {
      width:580px;
      height:400px;
      border: solid 1px #dddddd;
      }

#kml { 
       display: none;
       }

input.check { margin-right: 4px; }

p.closer a { 
           font-style: italic;
           color: black;
           }

p.closer { 
           margin-right: 4px;
           text-align: right;           
           }

#nominsearch { 
               margin-bottom: 8px;
               }


#nominresult { 
               padding-top: 4px;
               color:  #BEADAD;
               margin-top: 5px; 
               background-color: #DCDCDC;
               }



#nominresult a { 
               font-size: 0.8em;
               color:  #000000;
               }

#nominresult a:hover { 
               font-size: 0.8em;
               color:  #5F5F5F;
               }

#kmlpopup { 
           border: solid 1px #BEADAD;
           }

a.nominbutton{
               font-size: 0.9em;
               border: solid 1px #BEADAD;
               padding-top: 1px;
               padding-bottom: 1px;
               padding-left: 5px;
               padding-right: 5px;
               text-decoration: none;
               color: black;
               background-color: #DCDCDC;
               }

a.anabutton{
               font-size: 0.9em;
               border: solid 1px #BEADAD;
               padding-top: 1px;
               padding-bottom: 1px;
               padding-left: 5px;
               padding-right: 5px;
               text-decoration: none;
               color: black;
               background-color: #DCDCDC;
               }

#output { font: 100% serif;
          color: #101010;
          background-color: #f0f0f0 ;
          padding: 4px;
          border: 1px solid #303030;
          height: 180px;
          
          width: 100%;
          }

span.taille { display: inline-block;
              width: 60px;
              margin-right: 3px;
              margin-bottom: 3px;
              }

span.enlu {            
            margin-top: -10px;
            font-size: 3em;
            float: left;
            margin-right: 4px;
            }

input {
        background: none; 
        border: 1px solid #ddd;
        margin: 1px;
        padding: 1px;
        } 

#widerr, #heierr { 
           font-weight: bold;
           color: #ff0000;
           }

#footer { 
           background-color: #f0f0f0 ; 
           }

pre { 
          margin-top: 6px;
          padding-left: 6px;
          background-color: #f0f0f0 ; 
           }


img.markerdown { margin-right: 4px;
                 opacity:0.6;
                 filter:alpha(opacity=60);
             }

img.marker {
             margin-right: 4px;
             opacity:0.6;
             filter:alpha(opacity=60);
             }


#actual { width: 360px;
          height: 80px;
}

h3 {
     font-size:1.5em;
     line-height:1;
     margin-bottom:1em;
     color: #BEADAD;
     }

div.bothr { border-bottom: 1px inset #c0C0C0; 
            margin-bottom: 3px;
            }

#footcont {
            background-color: #dcdcdc; 
            color: #404040; 
            border: 1px ridge #c0C0C0;
            margin-top: 20px;
            padding: 10px;
        } 

#footcont h6 { font-weight: bold; 
               font-variant: small-caps;
               margin-bottom: 6px;}

#footcont a {
            color: #404040; 
            font: 0.6em;
        } 


#footcont a:hover {
            color: #000000; 
            font: 0.6em;
        } 

#footcont p {
            margin-right: 6px;
        } 

div.faq-question { margin-top: 12px;
                   font-weight: bold;
               }

div.faq-answer { margin-top: 4px;
                 margin-bottom: 10px; 
                 margin-left: 10px; }


div.ref-name { margin-top: 12px;
               font-weight: bold;
               }

div.ref-desc { margin-top: 4px;
               margin-bottom: 10px; 
               margin-left: 10px; }

div.api-parm-req { margin-top: 12px;
                   font-weight: bold;
                   text-decoration: underline;
                   }

div.api-parm-opt { margin-top: 12px;
                   text-decoration: underline;

                   }

div.api-desc { margin-top: 4px;
               margin-bottom: 10px; 
               margin-left: 10px; }


.sampleList {
              font-size: 1.2em;
              font-weight: bold;
              }
.sampleList a { padding-right: 8px;