body{
      font: 90% sans-serif;
      }

h1 { font-size: 1em; }

pre { background-color:#f0f0f0;
      padding: 4px;
      border-bottom: solid 1px black;
      }

div { margin-bottom: 2px;}

#iframe { padding: 1px }

div.sfoot { padding-right: 2px; }

div.sfoot a { text-decoration: none }
