s|SAMPLE_LIST|<a href="sample1.html">1</a><a href="sample2.html">2</a><a href="sample3.html">3</a><a href="sample4.html">4</a><a href="sample5.html">5</a><a href="sample6.html">6</a><a href="sample7.html">7</a><a href="sample8.html">8</a><a href="sample9.html">9</a><a href="sample10.html">10</a><a href="sample11.html">11</a>|
