
      <div class="span-17 colborder">
	<h3>3. Carte statique</h3>
	<iframe width="660" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map?lon=-1.6743530035148&amp;lat=48.037650773928&amp;zoom=18&amp;mark=true&amp;icon=agriculture&amp;&amp;pan=false&amp;nav=false&amp;width=660&amp;height=350"></iframe>
      </div>

      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="660" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-1.6743530035148&amp;lat=48.037650773928&amp;zoom=18
  &amp;mark=true&amp;icon=agriculture&amp;pan=false&amp;nav=false&amp;width=660&amp;height=350"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
