
      <div class="span-17 colborder">
	<h3>10. Exemple d'un fichier KML avec définition de style</h3>
	<iframe width="640" height="580" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map?lon=2.37&amp;lat=48.85&amp;zoom=15&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=640&amp;height=580&amp;zb=bar&amp;kml=http://cartosm.eu/samples/datas/velib.kml"></iframe>
      </div>

      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="640" height="580" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=2.37&amp;lat=48.85&amp;zoom=15&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=550&amp;height=450
  &amp;zb=bar&amp;kml=http://cartosm.eu/samples/datas/velib.kml"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
