
      <div class="span-17 colborder">
	<h3>1. </h3>
	<iframe width="600" height="400" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="/map?lon=-1.518258&lat=47.193177&zoom=18&mark=true&pan=true&nav=true&width=600&height=400"></iframe>
      </div>

      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="600" height="400" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-1.518258&lat=47.193177&zoom=18&mark=true&pan=true&nav=true&width=600&height=400"&gt;
&lt;/iframe&gt;
	</pre>
      </div>


