

      <div class="span-17 colborder">
	<h3>2. Navigation désactivée</h3>
	<iframe width="550" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map?lon=-68.04&amp;lat=-40.04&amp;zoom=9&amp;mark=false&amp;pan=true&amp;nav=false&amp;width=550&amp;height=200"></iframe>
      </div>

      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="550" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-68.04&amp;lat=-40.04&amp;zoom=9&amp;mark=false&amp;pan=true&amp;nav=false&amp;width=550&amp;height=200"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
