
      <div class="span-17 colborder">
	<h3>7. Ajout d'une barre pour les niveaux de zoom</h3>
	<iframe width="550" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cartosm.eu/map?lon=-68.04&amp;lat=40.04&amp;zoom=3&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=550&amp;height=450&amp;zb=bar"></iframe>
      </div>


      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="550" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-68.04&amp;lat=40.04&amp;zoom=3&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=550&amp;height=450&amp;zb=bar"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
