      <div class="span-17 colborder">
	<h3>5. </h3>
	<iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cartosm.eu/map?lon=2.1404&lat=47.6044&zoom=6&mark=true&pan=true&nav=false&width=600&height=400&icon=left"></iframe>
      </div>


          <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
  src="http://cartosm.eu/map?lon=2.1404&lat=47.6044&zoom=6&mark=true&pan=true&nav=false&width=600&height=400&icon=left"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
