
      <div class="span-17 colborder">
	<h3>4. Lien sous la carte</h3>
<iframe width="480" height="350" frameborder="0" scrolling="no"
	marginheight="0" marginwidth="0"
	src="http://cartosm.eu/map?lon=-0.57075900859&amp;lat=44.840029101&amp;zoom=18&amp;width=480&amp;height=350&amp;mark=true&amp;nav=true&amp;pan=true&amp;zb=bar&amp;style=default&amp;icon=left"></iframe><br /><div id="cartosmlink"><a href="http://www.openstreetmap.org/?lat=44.840029101&amp;lon=-0.57075900859&amp;zoom=18&amp;layers=M"
	style="text-align:left;">Voir sur une carte plus grande</a></div>
      </div>


      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="480" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-0.57075900859&amp;lat=44.840029101&amp;zoom=18&amp;width=480
  &amp;height=350&amp;mark=true&amp;nav=true&amp;pan=true&amp;zb=bar&amp;style=default&amp;icon=left"&gt;
  &lt;/iframe&gt;
  &lt;br /&gt;&lt;div id="cartosmlink"&gt;
  &lt;a href="http://www.openstreetmap.org/?lat=44.840029101&amp;lon=-0.57075900859&amp;zoom=18&amp;layers=M"
  style="text-align:left;">Voir sur une carte plus grande&lt;/a&gt;&lt;/div&gt;
	</pre>
      </div>
