
      <div class="span-17 colborder">
	<h3>8. Exemple avec un fichier KML qui ne possède pas de définition de style</h3>
	<iframe width="620" height="640" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map?lon=-1.659&amp;lat=48.109&amp;zoom=10&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=620&amp;height=640&amp;zb=bar&amp;kml=http://carto.quiedeville.org/cartosm/dechet.kml"></iframe>
      </div>

            <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="620" height="640" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-68.04&amp;lat=40.04&amp;zoom=10&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=550&amp;height=450
  &amp;zb=bar&amp;kml=http://carto.quiedeville.org/cartosm/dechet.kml"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
