
      <div class="span-17 colborder">
	<h3>11. Utilisation de la libraire OpenLayers complète</h3>
	<iframe width="640" height="580" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map?lon=-0.306433&amp;lat=49.143369&amp;zoom=18&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=640&amp;height=580&amp;zb=bar&amp;kml=http://beta.cartosm.eu/samples/datas/20110222185000.kml&libjs=full"></iframe>
      </div>

      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="640" height="580" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-0.306433&amp;lat=49.143369&amp;zoom=18&amp;mark=false&amp;pan=true&amp;nav=true&amp;width=550&amp;height=450
  &amp;zb=bar&amp;kml=http://beta.cartosm.eu/samples/datas/20110222185000.kml&amp;libjs=full"&gt;
&lt;/iframe&gt;
	</pre>
      </div>
