

      <div class="span-17 colborder">
	<h3>6. Carte minimale avec les options par défaut</h3>
	<iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cartosm.eu/map?lon=-5.09&amp;lat=48.46&amp;zoom=12"></iframe>
      </div>

      <div class="span-6 last">
	<h3>Samples</h3>
	<div class="sampleList">
	  <!-- REPLACE BY Makefile -->
	  SAMPLE_LIST
	</div>
      </div>
<hr />
      <div class="span-24 pre">
	Code :
	<pre>
&lt;iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://cartosm.eu/map?lon=-5.09&amp;lat=48.46&amp;zoom=12"&gt;
&lt;/iframe&gt;
	</pre>
      </div>

